.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  gap: 12px;
  height: 36px;
  font-size: 0.875rem;
}

.links {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 8px;

  & a {
    color: var(--auth-footer-link);

    &:hover {
      text-decoration: underline;
    }
  }
}
