.main {
  height: calc(100svh - 50px - 36px);
  display: flex;
  flex-direction: column;
}

.section {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;

  & a {
    color: var(--link-blue);

    &:hover {
      color: var(--link-blue-hover);
    }
  }
}
