.form-container {
  padding: 1.5rem 2rem;
  background-color: var(--form-bg);
  border: 1px solid var(--form-border);
  border-radius: 8px;
  max-width: 20rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.form-title {
  font-size: 1.375rem;
}

.label {
  font-size: 0.875rem;
  color: var(--form-label);
}

.button {
  margin-top: 8px;
}

.caption {
  font-size: 0.875rem;
  text-align: center;
  word-break: keep-all;
  max-width: 20rem;
}
