.button {
  border-radius: 0.5rem;
  color: #fff;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  &:global(.full) {
    width: 100%;
  }

  &:global(.size--s) {
    padding: 0.25rem 0.75rem;
  }

  &:global(.size--m) {
    padding: 0.5rem 1rem;
  }

  &:global(.size--l) {
    padding: 0.75rem 1.5rem;
  }

  &:global(.primary) {
    background-color: var(--primary);

    &:hover:not(:disabled) {
      background-color: var(--primary-hover);
    }
  }

  &:global(.secondary) {
    background-color: var(--secondary);

    &:hover:not(:disabled) {
      background-color: var(--secondary-hover);
    }
  }

  &:global(.danger) {
    background-color: var(--danger);

    &:hover:not(:disabled) {
      background-color: var(--danger-hover);
    }
  }

  &:global(.success) {
    background-color: var(--success);

    &:hover:not(:disabled) {
      background-color: var(--success-hover);
    }
  }

  &:global(.gray) {
    background-color: var(--gray-650);

    &:hover:not(:disabled) {
      background-color: var(--gray-600);
    }
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
