.button {
  border-radius: 8px;
  color: #fff;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  &:global(.full) {
    width: 100%;
  }

  &:global(.size--s) {
    padding: 0.25rem 0.75rem;
  }

  &:global(.size--m) {
    padding: 0.5rem 1rem;
  }

  &:global(.size--l) {
    padding: 0.75rem 1.5rem;
  }

  &:global(.primary) {
    background-color: var(--primary);

    &:hover:not(:disabled) {
      background-color: var(--primary-hover);
    }
  }

  &:global(.secondary) {
    background-color: var(--secondary);

    &:hover:not(:disabled) {
      background-color: var(--secondary-hover);
    }
  }

  &:global(.danger) {
    background-color: #ff5a5a;

    &:hover:not(:disabled) {
      background-color: #ff6363;
    }
  }

  &:global(.gray) {
    background-color: var(--gray);

    &:hover:not(:disabled) {
      background-color: var(--gray-hover);
    }
  }

  &:disabled {
    background-color: #3f3f3f;
    cursor: not-allowed;
  }
}
