NEXT_PUBLIC_URL=http://localhost:3000

# supabase
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=

# 구글 맵
NEXT_PUBLIC_GOOGLE_MAPS_GUESS_MAP_ID=
NEXT_PUBLIC_GOOGLE_MAPS_RESULT_MAP_ID=
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=