[data-theme='light'] {
    --result-modal: #fff;
}

[data-theme='dark'] {
    --result-modal: #272727;
}

:global(main) {
    width: 100%;
    height: 100%;
}

.roundResultContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    z-index: 5;
}

.roundResultWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
}

.resultMap {
    width: 100%;
    height: 100%;
}

.resultInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 1.25rem 0;
    width: 100%;
    height: 15rem;
    background-color: var(--result-modal);
}

.resultInfo h2 {
    margin: 12px 0;
}

.resultActions {
    display: flex;
    gap: 8px;
}

.nextBtn,
.replayBtn {
    background-color: var(--primary-color);
}

.exitBtn {
    background-color: var(--secondary-color);
}

.nextBtn,
.replayBtn,
.exitBtn {
    font-size: 1rem;
    padding: 12px 24px;
    color: #fff;
    border-radius: 8px;
}
