:global(#hero) {
    padding: 1rem 1.75rem;
}

:global(#official-maps) {
    width: 100%;
    display: flex;
    padding: 1rem 1.75rem;
    margin-bottom: 12px;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 20px;
    column-gap: 20px;
}

@media (max-width: 1000px) {
    .wrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 800px) {
    .wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 550px) {
    .wrapper {
        grid-template-columns: 1fr;
    }
}
