[data-theme='light'] {
    --gradient-1: #fff;
    --gradient-2: rgba(255, 255, 255, 0.6);
}

[data-theme='dark'] {
    --gradient-1: rgba(0, 0, 0, 0.95);
    --gradient-2: rgba(0, 0, 0, 0.75);
}

.bg-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    inset: 0px;
}

.hero {
    height: calc(100svh - var(--header-height));
    position: relative;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    z-index: 1;
    height: 100%;
    position: relative;
    background-image: linear-gradient(var(--gradient-1), var(--gradient-2));
    padding: 1.25rem 1.75rem;

    & h1,
    & p {
        word-break: keep-all;
        text-align: center;
    }

    & h1 {
        font-size: 1.5rem;
    }

    & a {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--primary-color);
        padding: 2px;
        width: 48px;
        height: 48px;
        border-radius: 50%;

        & > svg {
            color: #fff;
        }
    }
}

.official-maps {
    display: flex;
    scroll-margin-top: var(--header-height);
    width: 100%;
    padding: 1.25rem 1.75rem;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.map-cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(
        auto-fill,
        minmax(var(--map-card-width), 1fr)
    );
    gap: 24px;
    --map-card-width: 17.5rem;
}
