:global(#hero) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem 1.75rem;
    height: calc(100dvh - var(--header-height));

    & > h1,
    & p {
        text-align: center;
    }

    & > a {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--primary-color);
        padding: 2px;
        width: 48px;
        height: 48px;
        border-radius: 50%;

        & > svg {
            color: #fff;
        }
    }
}

:global(#official-maps) {
    display: flex;
    padding: 1rem 1.75rem;
    scroll-margin-top: var(--header-height);
    width: 100%;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(
        auto-fill,
        minmax(var(--map-card-width), 1fr)
    );
    gap: 24px;
    --map-card-width: 17.5rem;
}
