[data-theme='light'] {
    --anchor: #52b9fe;
    --anchor-hover: #2d88ff;
}

[data-theme='dark'] {
    --anchor: #489dff;
    --anchor-hover: #3796ee;
}

.main {
    height: 100%;
}

.main section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.backToHome {
    text-decoration: none;
    font-size: 1rem;
    color: var(--anchor);
    transition: color 0.2s ease-in;

    &:hover {
        color: var(--anchor-hover);
    }
}
