.aside {
  & ul {
    display: flex;
    flex-direction: column;
    margin: 0;

    & li {
      display: flex;

      & a {
        padding: 0.75rem 1rem;
        flex: 1;

        &:hover {
          background-color: var(--aside-hover);
        }

        &:global(.view) {
          background-color: var(--aside-view);
        }
      }
    }
  }
}
