.main {
  display: flex;
  min-height: 100%;
}

.section {
  flex: 1;
  padding: 1rem;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.setting-title {
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-bottom: 0.5rem;
}

.setting {
  border: 1px solid var(--setting-border);
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

.input {
  margin-top: 0.25rem;
  margin-bottom: 0.75rem;
}

.error-msg {
  color: var(--danger);
}
