.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--map-settings-modal-header);
  padding: 0.5rem 1.5rem;

  & > h3 {
    font-size: 1.2rem;
    margin: 0.25rem 0;
  }

  & > button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    padding: 0;
  }
}

.map-info {
  display: flex;
  align-items: center;
  gap: 12px;
}

.map-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.map-details h4,
.map-details p {
  margin: 0.25rem 0;
}

.modal-content {
  display: flex;
  flex-direction: column;
  /* background-color: var(--map-settings-modal-content); */
  background-color: transparent;
  padding: 1rem 1.5rem;
}

.setting {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  background-color: var(--map-settings-modal-actions);
  padding: 1rem 1.5rem;
}

.rounds-input {
  width: 3rem;
  background-color: var(--bg);
  border: 1px solid #333;
  outline: 0;
}

.rounds-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg);
  border: 1px solid #000;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  padding: 2px;

  & > svg {
    color: var(--color);
  }
}
