[data-theme='light'] {
  --map-settings-modal-header: #ececec;
  --map-settings-modal-actions: #ececec;
}

[data-theme='dark'] {
  --map-settings-modal-header: #333;
  --map-settings-modal-actions: #333;
}
