.downshift {
  position: relative;

  :global &.open {
    :global & .chevron {
      color: var(--ds-indicator);
    }

    & .downshift-dropdown {
      display: flex;
    }
  }
}

.downshift-dropdown {
  position: absolute;
  left: 0;
  display: none;
  flex-direction: column;
  padding: 0;
  margin: 0;
  min-width: 10rem;

  & > li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    cursor: pointer;
    padding: 0.5rem 0.75rem;
    width: 100%;
    background-color: var(--ds);

    :global &.selected {
      font-weight: 600;
    }

    :global &.focused {
      background-color: var(--ds-selected);
    }
  }
}

.downshift-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--ds);
  cursor: pointer;
  padding: 0.5rem 0.75rem;
  border-radius: 4px;
  min-width: 10rem;

  & > div {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}
