.dropdown {
  display: none;

  &:global(.active) {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 36px;
    right: 8px;
    z-index: 3;

    & li {
      display: flex;
      background-color: var(--dropdown);
      cursor: pointer;
      padding: 6px 8px;
      align-items: center;
      gap: 4px;

      &:hover {
        background-color: var(--dropdown-hover);
      }
    }
  }
}
