* {
  box-sizing: border-box;
}

:root {
  color-scheme: light dark;
  scroll-behavior: smooth;

  --primary-color: #3260f9;
  --secondary-color: #4a4a4a;

  --header-h: 60px;
}

[data-theme='light'] {
  color-scheme: light;

  --color: #000;
  --bg: #fff;

  --link-blue: #439aff;
  --link-blue-hover: #318aff;

  --scrollbar-thumb: #cdcdcd;
  --scrollbar-thumb-hover: #adadad;
  --scrollbar-thumb-active: #9b9b9b;
  --scrollbar-track: #ddd;
}

[data-theme='dark'] {
  color-scheme: dark;

  --color: #fff;
  --bg: #101010;

  --link-blue: #54a4ff;
  --link-blue-hover: #78beff;

  --scrollbar-thumb: #2a2a2a;
  --scrollbar-thumb-hover: #323232;
  --scrollbar-thumb-active: #414141;
  --scrollbar-track: #191919;
}

@supports (scrollbar-width: thin) and (not selector(::-webkit-scrollbar)) {
  :root {
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-track) var(--scrollbar-thumb);
  }
}

@supports selector(::-webkit-scrollbar) {
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-thumb-hover);
  }

  ::-webkit-scrollbar-thumb:active {
    background-color: var(--scrollbar-thumb-active);
  }

  ::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track);
  }

  ::-webkit-scrollbar-button {
    display: none;
  }
}

body {
  width: 100%;
  min-height: 100svh;
  height: 100svh;
  padding: 0;
  margin: 0;
  font-family:
    var(--font),
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  background-color: var(--bg);
  color: var(--color);
  font-size: 1rem;
}

button {
  cursor: pointer;
  user-select: none;
  border: 0;
  font-family: inherit;
  font-size: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  border: 0;
}
