/* .bg-image {
  object-fit: cover;
  object-position: center center;
} */

.hero {
  height: calc(80svh - var(--header-h));
  position: relative;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  z-index: 1;
  height: 100%;
  position: relative;
  background-image: linear-gradient(var(--gradient-1), var(--gradient-2));
  padding: 1.25rem 1.75rem;

  & h1,
  & p {
    word-break: keep-all;
    text-align: center;
  }

  & h1 {
    font-size: 1.5rem;
  }
}

.maps {
  display: flex;
  scroll-margin-top: var(--header-h);
  width: 100%;
  padding: 1.25rem 1.75rem;
}

.maps-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: 0 auto;

  & > div {
    margin-bottom: 1rem;
  }
}

.map-cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--map-card-width), 1fr));
  gap: 24px;
  margin-bottom: 8px;
  --map-card-width: 17.5rem;
}
