.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  padding: 0.75rem 1.5rem;
  width: 100%;
  height: var(--header-h);
  background-color: var(--bg);
  border-bottom: 1px solid var(--header-border);
  backdrop-filter: blur(4px);

  & .nav-wrapper {
    display: flex;
    align-items: center;
    flex: 1;
    gap: 1rem;
  }

  & nav {
    flex: 1;

    & > ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      gap: 1.25rem;
    }

    & a:hover {
      text-decoration: underline;
    }
  }
}

.title {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 1.125rem;
  font-weight: bold;
}

.arrow,
.backdrop,
.menu {
  display: none;
}

@media only screen and (max-width: 640px) {
  .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    background-color: transparent;
  }

  .header {
    & .nav-wrapper {
      display: none;
    }

    &:global(.active) {
      & .nav-wrapper {
        display: flex;
        flex-direction: column;
        align-items: initial;
        flex: 0;
        gap: 0;
        position: absolute;
        top: var(--header-h);
        left: 0;
        z-index: 4;
        width: 100%;
      }

      & .arrow {
        display: block;
      }

      & nav {
        z-index: 4;
        flex: 0;
        background-color: var(--bg);

        & > ul {
          flex-direction: column;
          align-items: initial;
          gap: 0;

          & li {
            border-bottom: 1px solid var(--nav-border);
          }

          & a {
            display: block;
            padding: 1.25rem 1.5rem;

            &:hover {
              background-color: var(--header-selected);
              text-decoration: none;
            }
          }
        }
      }

      & .backdrop {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        display: block;
        width: 100%;
        height: calc(100svh - var(--header-h));
        background-color: rgba(0, 0, 0, 0.7);
      }
    }
  }
}
