.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 0.75rem 1.5rem;
  width: 100%;
  height: var(--header-h);
  background-color: var(--header-bg);
  border-bottom: 1px solid var(--header-border);

  & h2 {
    margin: 0;
    font-size: 1.125rem;

    & a {
      display: flex;
      align-items: center;
      gap: 4px;
    }
  }

  & ul a:hover {
    text-decoration: underline;
  }

  & .nav-wrapper {
    display: flex;
    align-items: center;
    flex: 1;
    gap: 1rem;
  }

  & nav {
    flex: 1;

    & > ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }
}

.theme-select {
  position: relative;
  display: flex;

  &:global(.open) {
    & .theme-dropdown {
      display: flex;
    }
  }
}

.theme-dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  display: none;
  flex-direction: column;
  padding: 0;
  margin: 0;
  width: 7rem;

  & > li {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    padding: 0.5rem 0.75rem;
    background-color: var(--bg);

    &:global(.selected) {
      font-weight: 600;
    }

    &:global(.focused) {
      background-color: var(--ds-selected);
    }
  }
}

.theme-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  cursor: pointer;
  border-radius: 4px;

  & > div {
    display: flex;
    align-items: center;

    & > span {
      display: none;
    }
  }
}

.arrow,
.backdrop,
.menu {
  display: none;
}

@media screen and (max-width: 600px) {
  .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    background-color: transparent;
  }

  .header {
    & .nav-wrapper {
      display: none;
    }

    &:global(.active) {
      & .nav-wrapper {
        display: flex;
        flex-direction: column;
        align-items: initial;
        flex: 0;
        position: absolute;
        left: 0;
        top: var(--header-h);
        width: 100%;
        gap: 0;
      }

      & nav,
      & .theme-select {
        background-color: var(--header-bg);
      }

      & .theme-select {
        padding: 1rem 1.5rem;
      }

      & .theme-dropdown {
        left: 0;
        right: auto;
      }

      .theme-button {
        & > div {
          gap: 8px;

          & > span {
            display: inline-block;
          }
        }
      }

      & .arrow {
        display: block;
      }

      & nav {
        flex: 0;

        & > ul {
          flex-direction: column;
          align-items: initial;
          gap: 0;

          & li {
            border-bottom: 1px solid var(--nav-border);
          }

          & a {
            display: block;
            padding: 1.25rem 1.5rem;

            &:hover {
              background-color: var(--header-selected);
              text-decoration: none;
            }
          }
        }
      }

      & .backdrop {
        display: block;
        height: 100svh;
        background-color: rgba(0, 0, 0, 0.7);
      }
    }
  }
}
