.container {
  display: flex;
  gap: 4px;
}

.display-name {
  cursor: pointer;
  user-select: none;
}

.dropdown {
  display: none;

  &:global(.active) {
    position: absolute;
    top: 48px;
    right: 16px;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 128px;
    z-index: 3;
    box-shadow: 0 8px 16px 1px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.15);
    pointer-events: auto;

    & li > * {
      display: flex;
      background-color: var(--dropdown);
      cursor: pointer;
      padding: 6px 8px;
      align-items: center;
      gap: 4px;

      &:hover {
        background-color: var(--dropdown-hover);
      }
    }
  }
}

@media only screen and (max-width: 640px) {
  .container {
    position: relative;
    flex-direction: column;
    gap: 0;
  }

  .display-name {
    padding: 1.25rem 1.5rem;
    width: 100%;
    background-color: var(--bg);
  }

  .dropdown {
    &:global(.active) {
      position: static;
    }
  }
}
