[data-theme='light'] {
  --map-card-bg: #fcfcfc;
  --map-card-border: rgba(0, 0, 0, 0.15);
  --map-card-gradient: linear-gradient(
    rgba(199, 199, 199, 0.5),
    var(--map-card-bg) 90%
  );
}

[data-theme='dark'] {
  --map-card-bg: #232323;
  --map-card-border: rgba(255, 255, 255, 0.05);
  --map-card-gradient: linear-gradient(
    rgba(255, 255, 255, 0.1),
    var(--map-card-bg) 90%
  );
}
