.footer {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    background-color: var(--footer-bg);
    border-top: 1px solid var(--footer-border);
    padding: 1.25rem 1.75rem;
    margin-top: 16px;

    & ul {
        list-style: none;
        padding-left: 0;

        & > li a {
            text-decoration: none;
            color: var(--color);

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.settings {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.settingTitle {
    margin-bottom: 4px;
}

.links {
    margin-left: 8px;
}

.optionLabel {
    display: flex;
    align-items: center;
    gap: 4px;
}

.optionLabelImg {
    display: flex;
    justify-content: center;
    align-items: center;
}
