[data-theme='light'] {
    --game-status: rgba(255, 255, 255, 0.9);
}

[data-theme='dark'] {
    --game-status: rgba(0, 0, 0, 0.7);
}

.game-status-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
}

.game-status {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 6px 12px;
    gap: 16px;
    display: flex;
    background-color: var(--game-status);
    font-size: 1rem;
    border-radius: 4px;

    & > div {
        display: flex;
        flex-direction: column;
        padding: 4px 8px;
    }

    & :global(.label) {
        font-size: 0.9rem;
        margin-bottom: 4px;
    }
}

.time-left {
    position: relative;
    background-color: var(--game-status);
    padding: 8px 16px;
    max-width: 72px;
    margin-top: 1rem;
    border-radius: 16px;
}
