[data-theme='light'] {
    --header-bg: #f4f4f4;
    --header-border: rgba(0, 0, 0, 0.15);
}

[data-theme='dark'] {
    --header-bg: #181818;
    --header-border: rgba(255, 255, 255, 0.15);
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 12px 1.25rem;
    width: 100%;
    height: var(--header-height);
    background-color: var(--header-bg);
    border-bottom: 1px solid var(--header-border);

    & h2 {
        margin: 0;
        font-size: 1.15rem;

        & a {
            display: flex;
            align-items: center;
            gap: 4px;
        }
    }

    & ul a:hover {
        text-decoration: underline;
    }

    & h2 a,
    & ul a {
        text-decoration: none;
        color: inherit;
    }

    & > nav {
        display: flex;
        justify-content: space-between;
        flex-grow: 1;

        & > ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            gap: 24px;
        }
    }
}

.github {
    display: flex;
}

.icon {
    fill: var(--color);
}

@media only screen and (max-width: 400px) {
    .header .links {
        display: none;
    }

    .header nav {
        justify-content: flex-end;
    }
}
