[data-theme='light'] {
    --map-card-bg: #fcfcfc;
    --map-card-border: rgba(0, 0, 0, 0.15);
}

[data-theme='dark'] {
    --map-card-bg: #232323;
    --map-card-border: rgba(255, 255, 255, 0.05);
}

.mapCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--map-card-bg);
    border: 1px solid var(--map-card-border);
    border-radius: 4px;
}

.mapThumbnail {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    max-height: 144px;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8)),
        var(--image-url);
}

.cardContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    width: 100%;

    & > span {
        font-size: 0.9rem;
    }
}

.mapNameWrapper {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 8px;
    font-size: 1.125rem;
    color: #fff;
}

.playBtn {
    background-color: var(--primary-color);
    color: #fff;
    padding: 8px 16px;
    border-radius: 8px;

    &:disabled {
        background-color: var(--secondary-color);
    }
}
