[data-theme='light'] {
    --map-settings-modal: rgba(0, 0, 0, 0.5);
    --map-settings-modal-header: #ececec;
    --map-settings-modal-content: #fff;
    --map-settings-modal-actions: #ececec;
}

[data-theme='dark'] {
    --map-settings-modal: rgba(0, 0, 0, 0.5);
    --map-settings-modal-header: #333;
    --map-settings-modal-content: rgb(35, 35, 35);
    --map-settings-modal-actions: #333;
}

.mapSettingsModal {
    inset: 0px;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--map-settings-modal);
    width: 100%;
    height: 100%;
}

.mapSettingsModalWrapper {
    position: relative;
    overflow: hidden;
    z-index: 4;
    display: flex;
    flex-direction: column;
}

.modalHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--map-settings-modal-header);
    padding: 0.5rem 1.5rem;

    & > h3 {
        font-size: 1.2rem;
        margin: 0.25rem 0;
    }

    & > button {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        padding: 0;
    }
}

.mapInfo {
    display: flex;
    align-items: center;
    gap: 12px;
}

.mapIcon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mapDetails h4,
.mapDetails p {
    margin: 0.25rem 0;
}

.modalContent {
    display: flex;
    flex-direction: column;
    background-color: var(--map-settings-modal-content);
    padding: 1rem 1.5rem;
}

.setting {
    display: flex;
    justify-content: space-between;
}

.modalActions {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    background-color: var(--map-settings-modal-actions);
    padding: 1rem 1.5rem;
}

.roundsInput {
    appearance: textfield;
    width: 3rem;
    background-color: var(--bg);
    border: 1px solid #333333;
    outline: 0;

    &:hover,
    &:focus {
        appearance: number-input;
    }
}

.roundsInput::-webkit-inner-spin-button,
.roundsInput::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
}

.roundsBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg);
    border: 1px solid #000;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 2px;

    & > svg {
        color: var(--color);
    }
}

.cancelBtn,
.playBtn {
    padding: 8px 16px;
    border-radius: 8px;
    color: #fff;
}

.cancelBtn {
    background-color: var(--secondary-color);
}

.playBtn {
    background-color: var(--primary-color);

    &:disabled {
        background-color: var(--secondary-color);
    }
}
