.mapSettingsModal {
    inset: 0px;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--map-settings-modal);
    width: 100%;
    height: 100%;
}

.mapSettingsModalWrapper {
    position: relative;
    overflow: hidden;
    z-index: 4;
    display: flex;
    flex-direction: column;
}

.modalHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--map-settings-modal-header);
    padding: 0.5rem 1.5rem;

    & > h3 {
        font-size: 1.2rem;
        margin: 0.25rem 0;
    }

    & > button {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        padding: 0;
    }
}

.mapInfo {
    display: flex;
    align-items: center;
    gap: 12px;
}

.mapIcon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mapDetails h4,
.mapDetails p {
    margin: 0.25rem 0;
}

.modalContent {
    display: flex;
    flex-direction: column;
    background-color: var(--map-settings-modal-content);
    padding: 1rem 1.5rem;
}

.setting {
    display: flex;
    justify-content: space-between;
}

.modalActions {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    background-color: var(--map-settings-modal-actions);
    padding: 1rem 1.5rem;
}

.checkBox {
    display: inline-block;
    position: relative;
    cursor: pointer;
    height: 22px;

    & > input[type='checkbox'] {
        appearance: none;
        display: none;
        visibility: hidden;

        &:checked ~ span {
            background-color: var(--primary-color);

            &:after {
                left: 21px;
            }
        }
    }

    span {
        display: inline-block;
        height: 22px;
        width: 40px;
        background-color: #a2a2a2;
        transition: background-color 0.25s ease;
        border-radius: 16px;

        &:after {
            content: '';
            position: absolute;
            top: 3px;
            left: 3px;
            width: 16px;
            height: 16px;
            background-color: #fff;
            border-radius: 50%;
            transition: left 0.25s ease;
        }
    }
}

.roundsInput {
    appearance: textfield;
    width: 3rem;
    background-color: var(--bg);
    border: 1px solid #333333;
    outline: 0;

    &:hover,
    &:focus {
        appearance: number-input;
    }
}

.roundsInput::-webkit-inner-spin-button,
.roundsInput::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
}

.roundsBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg);
    border: 1px solid #000;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 2px;

    & > svg {
        color: var(--color);
    }
}

.timeLimitRange {
    appearance: none;
    width: 128px;
    height: 16px;
    background-color: transparent;
    border: 0;
    margin: 0;

    &:focus {
        outline: 0;

        &::-moz-range-track {
            background-color: var(--range-track);
        }
    }

    &:hover {
        &::-webkit-slider-thumb {
            cursor: grab;
        }

        &::-moz-range-thumb {
            cursor: grab;
        }
    }

    &:active {
        &::-webkit-slider-thumb {
            cursor: grabbing;
        }

        &::-moz-range-thumb {
            cursor: grabbing;
        }
    }

    &::-webkit-slider-runnable-track {
        width: 128px;
        height: 4px;
        background-image: linear-gradient(
            to right,
            var(--primary-color) 0%,
            var(--primary-color) var(--value),
            var(--range-track) var(--value),
            var(--range-track) 100%
        );
        border: 0;
        border-radius: 4px;
    }

    &::-webkit-slider-thumb {
        appearance: none;
        width: 16px;
        height: 16px;
        background-color: var(--range-thumb);
        border: 0;
        border-radius: 50%;
        margin-top: -6px;
    }

    &::-moz-range-track {
        width: 128px;
        height: 4px;
        background-color: var(--range-track);
        border: 0;
        border-radius: 4px;
    }

    &::-moz-range-thumb {
        appearance: none;
        width: 16px;
        height: 16px;
        background-color: var(--range-thumb);
        border: 0;
        border-radius: 50%;
    }

    &::-moz-range-progress {
        height: 4px;
        background-color: var(--primary-color);
        border-radius: 4px;
    }
}

.cancelBtn,
.playBtn {
    padding: 8px 16px;
    border-radius: 8px;
    color: #fff;
}

.cancelBtn {
    background-color: var(--secondary-color);
}

.playBtn {
    background-color: var(--primary-color);

    &:disabled {
        background-color: var(--secondary-color);
    }
}
