.mapSettingsModal {
    inset: 0px;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--map-settings-modal-bg);
    width: 100%;
    height: 100%;
}

.mapSettingsModalWrapper {
    position: relative;
    overflow: hidden;
    z-index: 100;
    display: flex;
    flex-direction: column;
    background-color: var(--map-settings-modal-wrapper-bg);
}

.modalHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--map-settings-modal-wrapper-header-bg);
    padding: 0.5rem 1.5rem;
}

.modalHeader h3 {
    font-size: 1.2rem;
    margin: 0.25rem 0;
}

.modalHeader button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    padding: 0;
}

.mapInfo {
    display: flex;
    align-items: center;
    gap: 12px;
}

.mapIcon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mapDetails h4,
.mapDetails p {
    margin: 0.25rem 0;
}

.modalContent {
    display: flex;
    flex-direction: column;
    background-color: var(--map-settings-modal-wrapper-content-bg);
    padding: 1rem 1.5rem;
}

.setting {
    display: flex;
}

.modalActions {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    background-color: var(--map-settings-modal-wrapper-actions-bg);
    padding: 1rem 1.5rem;
}

.checkBox input[type='checkbox'] {
    appearance: none;
    visibility: hidden;
    display: none;
}

.checkBox label {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transform: translate3d(0, 0, 0);
}

.checkBox label:before {
    content: '';
    position: relative;
    top: 3px;
    left: 3px;
    width: 34px;
    height: 14px;
    display: block;
    background-color: #9a9999;
    border-radius: 8px;
    transition: background-color 0.2s ease;
}

.checkBox label span {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    display: block;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(154, 153, 153, 0.5);
    transition: all 0.2s ease;
}

.checkBox input[type='checkbox']:checked + label:before {
    background-color: #947ada;
}

.checkBox input[type='checkbox']:checked + label span {
    background-color: var(--primary-color);
    transform: translateX(20px);
    transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25),
        background-color 0.15s ease;
    box-shadow: 0 3px 8px rgba(79, 46, 220, 0.2);
}

.timeLimitRange {
    appearance: none;
    width: 128px;
    height: 16px;
    background-color: transparent;
}

.timeLimitRange:focus {
    outline: none;
}

.timeLimitRange::-webkit-slider-runnable-track {
    width: 128px;
    height: 4px;
    background-color: var(--range-track-bg);
    border: 0;
    border-radius: 4px;
}

.timeLimitRange::-webkit-slider-thumb {
    appearance: none;
    width: 16px;
    height: 16px;
    background-color: var(--primary-color);
    border: 0;
    border-radius: 50%;
    margin-top: -6px;
}

.timeLimitRange::-moz-range-track {
    width: 128px;
    height: 4px;
    background-color: var(--range-track-bg);
    border: 0;
    border-radius: 4px;
}

.timeLimitRange::-moz-range-thumb {
    width: 16px;
    height: 16px;
    background-color: var(--primary-color);
    border: 0;
    border-radius: 50%;
}

.timeLimitRange:focus::-moz-range-track {
    background-color: var(--range-track-bg);
}

.cancelBtn {
    padding: 8px 16px;
    border-radius: 8px;
    background-color: var(--secondary-color);
    color: #fff;
}

.playBtn {
    background-color: var(--primary-color);
    color: #fff;
    padding: 8px 16px;
    border-radius: 8px;

    &:disabled {
        background-color: var(--secondary-color);
    }
}
