.roundStatusContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
}

.roundStatus {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 8px 16px;
    gap: 16px;
    display: flex;
    background-color: var(--round-status-bg);
    font-size: 1rem;
}

.roundStatus > div {
    display: flex;
    flex-direction: column;
}

.timeLeft {
    position: relative;
    background-color: var(--round-status-bg);
    padding: 8px 16px;
    max-width: 72px;
    margin-top: 1rem;
    border-radius: 16px;
}
