.footer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  background-color: var(--footer-bg);
  border-top: 1px solid var(--footer-border);
  padding: 1.25rem 1.75rem;
  margin-top: 16px;
}

.settings {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.setting-title {
  margin-bottom: 4px;
}

.links {
  list-style: none;
  padding-left: 0;
  margin: 0;

  & > li {
    margin-bottom: 4px;

    & a {
      color: var(--color);

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.option-label {
  display: flex;
  align-items: center;
  gap: 4px;
}

.option-label-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
