[data-theme='light'] {
  --input-bg: #f8f8f8;
  --input-border: rgba(0, 0, 0, 0.15);
  --input-placeholder: var(--gray-500);
}

[data-theme='dark'] {
  --input-bg: var(--gray-850);
  --input-border: rgba(255, 255, 255, 0.15);
  --input-placeholder: var(--gray-500);
}
