@font-face {
    font-family: 'Pretendard';
    font-weight: 700;
    font-display: swap;
    src: url(/assets/fonts/Pretendard-Bold.subset.woff2) format('woff2');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 600;
    font-display: swap;
    src: url(/assets/fonts/Pretendard-SemiBold.subset.woff2) format('woff2');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 500;
    font-display: swap;
    src: url(/assets/fonts/Pretendard-Medium.subset.woff2) format('woff2');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    font-display: swap;
    src: url(/assets/fonts/Pretendard-Regular.subset.woff2) format('woff2');
}

* {
    box-sizing: border-box;
}

:root {
    color-scheme: light dark;
    scroll-behavior: smooth;

    --primary-color: #3260f9;
    --secondary-color: #4a4a4a;

    --header-height: 64px;
}

[data-theme='light'] {
    color-scheme: light;

    --color: #000;
    --bg: #fff;

    --scrollbar-thumb: #cdcdcd;
    --scrollbar-thumb-hover: #adadad;
    --scrollbar-thumb-active: #9b9b9b;
    --scrollbar-track: #ddd;

    --header-bg: #f4f4f4;
    --header-border: rgba(0, 0, 0, 0.15);

    --map-card-bg: #fcfcfc;
    --map-card-border: rgba(0, 0, 0, 0.15);

    --map-settings-modal: rgba(0, 0, 0, 0.5);
    --map-settings-modal-header: #ececec;
    --map-settings-modal-content: #fff;
    --map-settings-modal-actions: #ececec;

    --range-thumb: #000;
    --range-track: #787878;

    --round-status: rgba(255, 255, 255, 0.9);

    --result-modal: #fff;

    --footer-bg: #eee;
    --footer-border: rgba(0, 0, 0, 0.1);

    --selector-active-bg: var(--selector-selected-bg);
    --selector-active-color: var(--selector-selected-color);
    --selector-hovered-bg: #e9e9e9;
    --selector-hovered-color: #000;
    --selector-focused-bg: #e9e9e9;
    --selector-focused-color: #000;
    --selector-selected-bg: #c5e5ff;
    --selector-selected-color: #000;
    --selector-bg: #fff;
    --selector-color: #000;
}

[data-theme='dark'] {
    color-scheme: dark;

    --color: #fff;
    --bg: #101010;

    --scrollbar-thumb: #2a2a2a;
    --scrollbar-thumb-hover: #323232;
    --scrollbar-thumb-active: #414141;
    --scrollbar-track: #191919;

    --header-bg: #181818;
    --header-border: rgba(255, 255, 255, 0.15);

    --map-card-bg: #232323;
    --map-card-border: rgba(255, 255, 255, 0.05);

    --map-settings-modal: rgba(0, 0, 0, 0.5);
    --map-settings-modal-header: #333;
    --map-settings-modal-content: rgb(35, 35, 35);
    --map-settings-modal-actions: #333;

    --range-thumb: #fff;
    --range-track: #a2a2a2;

    --round-status: rgba(0, 0, 0, 0.7);

    --result-modal: #272727;

    --footer-bg: #232323;
    --footer-border: rgba(255, 255, 255, 0.1);

    --selector-active-bg: var(--selector-selected-bg);
    --selector-active-color: var(--selector-selected-color);
    --selector-hovered-bg: #454545;
    --selector-hovered-color: #fff;
    --selector-focused-bg: #454545;
    --selector-focused-color: #fff;
    --selector-selected-bg: #5ea4ff;
    --selector-selected-color: #fff;
    --selector-bg: #333;
    --selector-color: #fff;
}

@supports (scrollbar-width: thin) and (not selector(::-webkit-scrollbar)) {
    :root {
        scrollbar-width: thin;
        scrollbar-gutter: auto;
        scrollbar-color: var(--scrollbar-track) var(--scrollbar-thumb);
    }
}

@supports selector(::-webkit-scrollbar) {
    ::-webkit-scrollbar {
        width: 8px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: var(--scrollbar-thumb);
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: var(--scrollbar-thumb-hover);
    }

    ::-webkit-scrollbar-thumb:active {
        background-color: var(--scrollbar-thumb-active);
    }

    ::-webkit-scrollbar-track {
        background-color: var(--scrollbar-track);
    }

    ::-webkit-scrollbar-button {
        display: none;
    }
}

html,
body {
    width: 100%;
    min-height: 100dvh;
    height: 100dvh;
}

body {
    margin: 0;
    font-family: 'Pretendard', system-ui, -apple-system, BlinkMacSystemFont,
        'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
        'Helvetica Neue', sans-serif;
    background-color: var(--bg);
    color: var(--color);
    font-size: 1rem;
}

button,
[role='button'] {
    cursor: pointer;
    user-select: none;
    border: 0;
    font-family: inherit;
    font-size: inherit;
}

#root {
    width: 100%;
    height: 100%;
}
