* {
    box-sizing: border-box;
}

:root {
    color-scheme: light dark;
    scroll-behavior: smooth;

    --primary-color: #2a57eb;
    --secondary-color: #3b3b3b;

    /* dark theme (default) */
    --color: #fff;
    --background-color: #101010;

    --header-bg: #181818;
    --header-border: rgba(255, 255, 255, 0.15);
    --map-card-bg: #181818;
    --map-card-border: rgba(255, 255, 255, 0.05);
    --round-info-bg: #333;
    --modal-container-bg: rgba(0, 0, 0, 0.7);
    --modal-wrapper-bg: #393939;

    --map-select-modal-bg: rgba(0, 0, 0, 0.8);
    --map-select-modal-wrapper-bg: rgb(16, 16, 16);
}

/* light theme */
@media (prefers-color-scheme: light) {
    :root {
        --color: #000;
        --background-color: #fff;

        --header-bg: #f4f4f4;
        --header-border: rgba(0, 0, 0, 0.15);
        --map-card-bg: #eee;
        --map-card-border: rgba(0, 0, 0, 0.075);
        --round-info-bg: #fff;
        --modal-container-bg: rgba(0, 0, 0, 0.6);
        --modal-wrapper-bg: #e3e3e3;

        --map-select-modal-bg: rgba(0, 0, 0, 0.5);
        --map-select-modal-wrapper-bg: #fff;
    }
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 900;
    font-display: swap;
    src: url(/fonts/Pretendard-Black.woff2) format('woff2');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 800;
    font-display: swap;
    src: url(/fonts/Pretendard-ExtraBold.woff2) format('woff2');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 700;
    font-display: swap;
    src: url(/fonts/Pretendard-Bold.woff2) format('woff2');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 600;
    font-display: swap;
    src: url(/fonts/Pretendard-SemiBold.woff2) format('woff2');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 500;
    font-display: swap;
    src: url(/fonts/Pretendard-Medium.woff2) format('woff2');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/Pretendard-Regular.woff2) format('woff2');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 300;
    font-display: swap;
    src: url(/fonts/Pretendard-Light.woff2) format('woff2');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 200;
    font-display: swap;
    src: url(/fonts/Pretendard-ExtraLight.woff2) format('woff2');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 100;
    font-display: swap;
    src: url(/fonts/Pretendard-Thin.woff2) format('woff2');
}

html,
body {
    width: 100%;
    height: 100dvh;
}

body {
    margin: 0;
    font-family: 'Pretendard', system-ui, -apple-system, BlinkMacSystemFont,
        'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
        'Helvetica Neue', sans-serif;
    background-color: var(--background-color);
    color: var(--color);
    font-size: 1rem;
}

button {
    cursor: pointer;
    user-select: none;
    border: 0;
    font-family: inherit;
    font-size: inherit;
}

#root {
    width: 100%;
    height: 100%;
}
