[data-theme='light'] {
  --actual-marker-bg: var(--gray-100);
  --actual-marker-border: var(--gray-200);
}

[data-theme='dark'] {
  --actual-marker-bg: var(--gray-800);
  --actual-marker-border: var(--gray-900);
}
